APP_NAME=Marketplace
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack

MARKETPLACE_JSWARNING=false
MARKET_FEE_PERCENT=5
VENDOR_FEE=1
ADMIN_XMR_WALLET=
ADMIN_FEE_FORWARD_PERCENT=100
ADMIN_FORWARD_MIN_BALANCE=1000000000000

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=marketplace
DB_USERNAME=INSER_YOUR_USERNAME
DB_PASSWORD=INSER_YOUR_PASSWORD

BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
SESSION_LIFETIME=120
QUEUE_DRIVER=sync

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

BITMESSAGE_ENABLED=false
BITMESSAGE_ADDRESS=
BITMESSAGE_HOST=
BITMESSAGE_PORT=
BITMESSAGE_USER=
BITMESSAGE_PASSWORD=

MONERO_HOST=127.0.0.1
MONERO_PORT=28091
MONERO_USERNAME=testwallet
MONERO_PASSWORD=testwallet
MONERO_RPC_USER=
MONERO_RPC_PASSWORD=
MONERO_ADMIN_WALLET=

SEO_DEFAULT_DESCRIPTION=Marketplace for secure cryptocurrency commerce
SEO_DEFAULT_IMAGE=/img/product.png
